{% extends 'base.html' %}
{% block content %}
<div class="content">
  <form method="post" class="form">
    <h1>Create your own chat room</h1>

    <input
      type="text"
      placeholder="Pick a name!"
      name="name"
      value="{{name}}"
      required
    />

    <input
      type="text"
      placeholder="Room Code"
      name="code"
      value="{{code}}"
    />

    <div class="button-group" style="display: flex; gap: 1rem; flex-direction: column;">
      <button type="submit" name="join" class="join">Join a Room</button>
      <button type="submit" name="create" class="create">Create a Room</button>
    </div>

    {% if error %}
    <ul>
      <li>{{ error }}</li>
    </ul>
    {% endif %}
  </form>
</div>
{% endblock %}
